# data-anon-pandas-poc

In [2]:
%python
display(dbutils.fs.ls("dbfs:/FileStore/tables/"))

path,name,size
dbfs:/FileStore/tables/uk_500-626ee.csv,uk_500-626ee.csv,97773

In [3]:
a = hash("alex")
b = hash("rolls")
print(a)
print(b)

In [4]:
import pandas as pd
import hashlib

# Define data frame. Bear in mind this could be changed to read_sql
df = pd.read_csv("/dbfs/FileStore/tables/uk_500-626ee.csv", delimiter=',', header=0)
# Sort values by first_name column
df.sort_values("first_name", axis=0, ascending=True, inplace=True, na_position='last')
# Select just the first_name and last_name columns. Drop others and define new dataframe df2.
df2 = df[['first_name','last_name']].dropna()
# output the data
print(df2.head())

# hash first_name limit 15
df2['first_name_hash'] = [hashlib.sha1(str.encode(str(i))).hexdigest()[:15] for i in df2['first_name']]
# hash last_name limit 15
df2['last_name_hash'] = [hashlib.sha1(str.encode(str(i))).hexdigest()[:15] for i in df2['last_name']]
# output the data
print(df2.head())

df3 = df2[['first_name_hash','last_name_hash']]
print(df3.head())

df4 = df3[['first_name_hash','last_name_hash']].rename(columns={'first_name_hash':'first_name','last_name_hash':'last_name'})
print(df4.head())

In [5]:
display(sql("select * from default.uk_500_626ee_csv order by first_name limit 5"))

first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
Abraham,Cratch,"Cavuto, John A",41 Benedict St,Aldborough Ward,Greater London,IG2 7QG,01599-245408,01695-305111,acratch@gmail.com,http://www.cavutojohna.co.uk
Adelle,Schantini,Creative Photography Inc,162 Grayson St,Greenlands Ward,Lancashire,FY2 0TD,01624-595660,01938-262356,adelle_schantini@yahoo.com,http://www.creativephotographyinc.co.uk
Adolph,Cunningham,"Moorhead, Bridget Klein Esq",9874 Oakfield Rd,Redhill Ward,Tyne and Wear,SR5 5PT,01731-429712,01252-511174,adolph_cunningham@hotmail.com,http://www.moorheadbridgetkleinesq.co.uk
Ahmad,Alsaqri,Alliance Construction Co Inc,21 Pickwick St,Sutton cum Duckmanton,Derbyshire,S44 5DS,01567-555570,01852-550588,ahmad.alsaqri@yahoo.com,http://www.allianceconstructioncoinc.co.uk
Alaine,Raterman,Putnam Co Inc,1 Milton St,Little Missenden,Buckinghamshire,HP16 0DH,01927-151413,01525-172423,alaine@hotmail.com,http://www.putnamcoinc.co.uk